@mixin viewBtn($bgColor: $mainColor, $color: #fff) {
    display: inline-block;
    padding: 15px 25px;
    background-color: $bgColor;
    color: $color;
    border-radius: 3px;
    font: 600 12px/1 $font1;
}

@mixin nextBtn($color: $mainColor, $bgColor: $pointColor, $size: 150px) {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: $size;
    height: $size;
    background-color: $bgColor;
    transition: 0.7s;

    i {
        font-size: 10px;
        color: $color;
        margin-bottom: 3px;
    }

    span {
        font: bold 8px/1 $font2;
        color: $color;
    }
}
