
#header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;

    .inner  {
        position: relative;
        width: 1180px;
        height: 100px;
        margin: 0 auto;

        >h1 {
            position: absolute;
            top: 50%;
            left: 150px;
            transform: translateY(-50%);
            font: bold 14px/1 $font1;

            a {
                color: $pointColor;
                letter-spacing: 5px;

            }
        }

        .menuWeb {
            //display: none;
            position: absolute;
            top: 50%;
            right: 150px;
            transform: translateY(-50%);
            
            #gnb {

                li {
                    position: relative;
                    float: left;
                    font: normal 12px/1 $font1;
                    margin: 20px 0px 20px 20px;

                    a {
                        display: inline-flex;
                        align-items: center;
                        color: #fff;
                        letter-spacing: 1px;
                        padding: 20px 0px;
                    }

                    i {
                        font-size: 16px;
                        margin-top: -2px;
                        color: #eee;
                    }
                }

                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }

        .btnCall {
            display: none !important;
            position: absolute;
            top: 50%;
            right: 50px;
            transform: translateY(-50%);display: flex;
            justify-content: center;
            align-content: center;
            cursor: pointer;
            border: 0px;
            background: transparent;
            
            span {
                display: inline-block;
                width: 0;
                text-indent: 100%;    
                white-space: nowrap;    
                overflow: hidden;
            }

            i {
                color: rgba(255, 255, 255, 0.8);
                font-size: 20px;
            }
        }
    }

    
    .menuMobile {
        position: fixed;
        top: 0; left: 0;
        z-index: 10000;
        width: 100%;
        height: 0%; //100vh;
        background: $mainColor;
        padding: 0px 10vw;
        overflow: hidden;
        transition: .3s;

        &.on {
            height: 100vh;
            padding: 30px 10vw;
            transition: .5s;

            #gnbMobile li a {
                opacity: 1 !important;
                transform: translateX(0px) !important;
            }
        }

        h1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
            padding: 2vh 10vw;

            .logo {
                display: inline-flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                font: 3vh/1 $font1;
                color: $pointColor;
                letter-spacing: 15px;
                margin-bottom: 4vh;
            }
                
            span {
                padding: 1vh 2vh;
                font: 500 2.5vh/1 $font1;
                background: #eee;
                color: $mainColor;
            }
        }

        h2 {
            margin-bottom: 20px;
            text-align: right;
            font: 500 18px/1 $font1;
            color: #ddd;

            a {
                color: #ddd;
                padding: 0px 10px;
            }

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: #999;
                margin-top: 2vh;
            }
        }

        #gnbMobile {
            width: 100%;

            li {
                text-align: right;
                
                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}) a {
                        opacity: 0;
                        transform: translateX(30px);
                        transition-delay: 0s + $i * 0.2;
                        transition-duration: .3s;
                    }
                }

                a {
                    display: inline-block;
                    padding: 2vh 0;
                    font: 5vh/1 $font1;
                    color:#eee;
                    letter-spacing: 2px;
                    
                }

                &.on a {
                    color: $pointColor;
                }
            }
        }

        .closeBtn {
            position: absolute;
            top: 15px; right: 15px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 3vw;
            height: 3vw;
            min-width: 22px;
            min-height: 22px;
            border: 0px;
            background: transparent;
            cursor: pointer;

            &:hover {
                animation: spinning 1s;
            }

            &::before, &::after {
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                height: 1.5px;
                background: #fff;
            }

            &::before {
                transform: rotate(45deg);
            }
            
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}

//Tablet--------------------------------------
@media screen and (max-width: $tablet) {

#header {
    .inner  {
        width: 100%;

        h1 {
            left: 10vw;
        }

        .menuWeb {
            display: none;
        }

        .btnCall {
            display: block !important;
        }
    }
}
}


//Mobile--------------------------------------
@media screen and (max-width: $mobile) {
    
#header {
    .inner  {
        h1 {
            left: 5vw;
        }

        .btnCall {
            right: 5vw;
        }
    }
}
}