#visual {
    width: 100%;
    padding-top: 100px;
    background: linear-gradient(to left, #fff 70%, #3a3e46 30%);

    .bgs img {
        opacity: 0;
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0px;
        width: 70%;
        height: 900px;
        object-fit: cover;
        transition: 4s;
        filter: brightness(0.8);

        &.on {
            opacity: 1;
            transition: 4s;
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0;
        width: 70%;
        height: 900px;
        background: #3a3e4691;
    }

    .inner {
        position: relative;
        z-index: 2;
        width: 1180px;
        height: 800px;
        margin: 0 auto;


        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -100px;
            left: 0;
            width: 30%;
            height: 900px;
            background: $mainColor;
        }

        >img, video {
            position: absolute;
            z-index: -3;
            top: -100px;
            right: 0;
            width: 70%;
            height: 700px;
            object-fit: cover;
            filter: brightness(0.8);
        }

        .container {
            position: absolute;
            top: 20%;
            left: 150px;

            .textBox {
                //border: 4px solid rgba(250, 128, 114, 0.9);
                padding: 40px;
                margin-bottom: 30px;
                color: $mainColor;
                background: rgba(255, 255, 255, 0.8);
                animation: fadeIn 3s, moveDown 1s;

                h1 {
                    font: bold 18px/1 $font1;
                    letter-spacing: 1px; 
                    margin-bottom: 15px;
                }

                h2 {
                    font: bold 30px/1 $font1;
                    letter-spacing: 1px;
                    margin-bottom: 5px;
                }

                span {
                    font: 600 16px/1 $font1;
                    letter-spacing: 1px;
                }
            }

            a {
                @include viewBtn($bgColor: transparent, $color: rgba(255, 255, 255, 0.8));
                padding: 0;
            }
        }

        .nextBtn {
            @include nextBtn($color: #eee, $bgColor: $mainColor, $size: 50px);

            &:hover {
                background: rgba(255, 255, 255, 1);
                span, i {
                    color: $mainColor;
                }
            }
        }

        .wrap {
            position: absolute;
            right: 0;
            bottom: 100px;
            animation: fadeIn 3s, moveUp 1s;

            article {
                position: relative;
                width: 220px;
                height: 120px;
                margin-right: 20px;
                float: left;
                transition: .5s;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

                &:last-child {
                    margin-right: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                    filter: brightness(0.7) grayscale(0.3);
                }

                &:hover {
                    transform: scale(1.1);
                }

                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: inline-flex;
                    padding: 3px;
                    background: rgba(0, 0, 0, 0.7);
                    font: normal 8px/1 "arial";
                    color: #eee;

                }
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }

        .pagination {
            position: absolute;
            left: 50%;
            bottom: 40px;
            transform: translateX(-50%);
            font-size: 0;

            span {
                color: $subColor2;
                margin-right: 7px;
                cursor: pointer;

                i {
                    font-size: 10px;
                    transform: scale(0.85);
                }
            }
        }

    }
}


#trending {
    width: 100%;
    background: #eee;

    //Scroll Animation : Start
    &.on .inner {
        >.textBox {
            opacity: 1;
            transform: translateY(0px);
        }

        .slider .wrap article {
            video, .textBox {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    .inner {
        >.textBox {
            opacity: 0;
            transform: translateY(-20px);
            transition: 1s;
        }

        .slider .wrap article {
            video, .textBox {
                opacity: 0;
                transition-duration: 1s;
            }

            video { 
                transform: translateY(30px); 
                transition-delay: .3s !important; 
            }

            .textBox { 
                transform: translateY(-30px);
                transition-delay: .6s; 
            }
        }
    }
    //Scroll Animation : End

    .inner {
        position: relative;
        display: flex;
        width: 1180px;
        height: 600px;
        margin: 0 auto;

        >.textBox {
            width: 45%;
            padding: 100px 50px;
            padding-left: 100px;

            h1 {
                font: bold 36px/1 $font1;
                letter-spacing: 1px;
                color: $mainColor;
                margin-bottom: 30px;
            }

            p {
                font: normal 16px/1.6 $font1;
                color: #444;
            }
        }

        .slider {
            width: 55%;
            height: 100%;
            padding: 50px 0px;
            overflow: hidden;

            .wrap {
                display: flex;
                align-items: center;
                width: 400%;
                transform: translateX(-25%);
                
                article {
                    position: relative;
                    width: 50%;
                    height: 500px;
                    display: flex;

                    video {
                        width: 48%;
                        margin-left: 4%;
                        object-fit: cover;
                        filter: grayscale(.9);
                        cursor: pointer;
                        transition: .5s;

                        &:hover {
                            filter: grayscale(0);
                            transform: scale(1.1);
                            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                        }
                    }

                    .textBox {
                        width: 48%;
                        margin-left: 4%;
                        height: 100%;
                        background: #fff;
                        padding: 30px;

                        span {
                            display: inline-block;
                            font: bold 100px/1 $font1;
                            margin-left: 20px;
                            color: $subColor1;
                            margin-bottom: 20px;
                        }

                        h2 {
                            font: 600 24px/1 $font1;
                            color: $mainColor;
                            margin-bottom: 20px;
                        }

                        p {
                            padding-right: 50px;
                            font: normal 14px/1.5 $font1;
                            color: #555;
                            margin-bottom: 20px;
                        }
                        
                        a {
                            @include viewBtn($bgColor: transparent, $color: $pointColor);
                            position: absolute;
                            right: 10px;
                        }
                    }
                }
            }

            
        }

        .prevBtn, .nextBtn {
            @include nextBtn($color: #fff, $bgColor: $mainColor, $size: 50px);
            cursor: pointer;
            border: 0;

            &:hover {
                background: $subColor1;
            }
        }

        .prevBtn {
            left: 0px;
        }

        .nextBtn {
            right: 0px;
        }
    }
}


#about {
    width: 100%;

    //Scroll Animation : Start
    &.on .inner {
        .buttons, .textBox, img {
            opacity: 1;
            transform: translateY(0px);
        }
        img {
            box-shadow: 20px 20px 0px $mainColor;
        }
    }
    .inner {
        .buttons, .textBox, img {
            opacity: 0;
            transition: 1s;
        }

        .buttons { 
            transform: translateY(30px); 
            transition-delay: .4s; 
        }

        .textBox { 
            transform: translateY(-30px); 
            transition-delay: .3s; 
        }
    }
    //Scroll Animation : End

    //Tab Animation : Start
    &.tabOn .inner {
        .textBox {
            animation: fadeIn 1s, moveUp 1s;
        }
        img { 
            animation: fadeIn 1s, boxShadow 1s;
        }
    }
    //Tab Animation : End

    .inner {
        position: relative;
        display: flex;
        width: 1180px;
        margin: 0 auto;
        padding: 100px 0;
        padding-left: 100px;

        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100px;
            height: 100%;
            margin-left: 50px;
            
            button {
                display: inline-flex;
                width: 100px;
                height: 100px;
                background-color: #eee;
                border: 0px;
                cursor: pointer;
                color: $mainColor;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                transition: .5s;

                &:last-child {
                    margin-bottom: 0;
                }

                &.on, &:hover {
                    background-color: $mainColor;
                }

                &.on i, &.on span, &:hover i, &:hover span {
                    color: #fff;
                }

                i {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                span {
                    font: 600 10px/1 $font1;
                }
            }
        }

        .textBox {
            width: 400px;
            height: 400px;
            padding-top: 40px;

            h1 {
                font: bold 36px/1.2 Montserrat;
                letter-spacing: 1px;
                color: #3a3e46;
                margin-bottom: 30px;

                span {
                    color: $pointColor;
                }
            }

            .intro {
                p {
                    font: 14px/1.4 $font1;
                    color: #666;
                    margin-bottom: 30px;
                }
    
                ul {
                    width: 100%;
    
                    li {
                        font: 14px/1.4 $font1;
                        color: #666;
                        margin: 5px 0;
    
                        &::before {
                            content: "\f110";
                            color: $mainColor;
                            display: inline;
                            font-family: FontAwesome;
                            font-weight: bold;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .contact {
                width: 100%;

                .success {
                    padding: 20px;
                    text-align: center;

                    span {
                        display: inline-block;
                        margin-bottom: 25px;

                        i {
                            font-size: 60px;
                            color: $subColor1;
                            animation: upAndDown .5s infinite;
                        }
                    }
                    
                    h2 {
                        font: 20px/1.7 $font1;
                        color: $mainColor;
                    }
                }

                .contactForm {
                    padding-right: 30px;
                    
                    table {
                        width: 100%;

                        tr {
                            display: flex;
                            flex-wrap: wrap;
                            padding-bottom: 10px;
                            
                            &.btn {
                                padding-bottom: 0px;

                                th {
                                    justify-content: flex-end;
                                    padding: 0px;

                                    input[type=submit] {
                                        width: 90px;
                                        height: 35px;
                                        border: 0px;
                                        background: $subColor1;
                                        color: #fff;
                                        font: 12px/1 $font1;
                                        letter-spacing: 1px;
                                        cursor: pointer;
                                    }
                                }
                            }

                            th {
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                padding-bottom: 3px;

                                label {
                                    font: 600 12px/1 $font1;
                                    color: $subColor1;
                                }

                                span {
                                    font: 12px/1 $font1;
                                    color: $pointColor;

                                    &::before {
                                        content: "*";
                                    }
                                }
                            }

                            td {
                                width: 100%;

                                input, textarea {
                                    width: 100%;
                                    border: 0px;
                                    background: #eee;
                                    outline: none;
                                    padding: 1em;
                                    font: 12px/1 $font1;
                                }

                                input {
                                    height: 35px;
                                }

                                textarea {
                                    height: 100px;
                                    resize: none;
                                }
                            }
                        }
                    }
                }
            }

            .idea {
                padding: 10px 10px 0px 0px;

                li {
                    h2 {
                        font: 600 14px/1 $font1;
                        color: $subColor1;
                        margin-bottom: 10px;

                        i {
                            margin-right: 3px;
                        }
                    }

                    p {
                        font: 14px/1.4 $font1;
                        margin-bottom: 20px;
                        color: #666;
                    }
                }
            }
        }

        img {
            width: 100%;
            filter: brightness(95%);
            object-fit: cover;
            max-width: 400px;
            height: auto;
            aspect-ratio: 1 / 1;
            margin-right: 80px;
        }

    }
}


#philosophy {
    width: 100%;

    //Scroll Animation : Start
    &.on .inner .textBox {
        .lines {
            .top, .bottom {
                width: 100%;
            }
            .left, .right {
                height: 100%;
            }
        }

        h1, p {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .inner .textBox {
        .lines div {
            transition: 1s;
        }

        h1, p { 
            opacity: 0;
            transition: 1s; 
        }

        h1 { transform: translateY(20px); }
        p { transform: translateY(-20px); }
    }
    //Scroll Animation : End

    .inner {
        position: relative;
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        padding: 50px;

        .textBox {
            position: relative;
            width: 600px;
            padding: 120px 70px;

            .lines  {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                div {
                    position: absolute;
                }

                .top {
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 4px;
                    background: $mainColor;
                }

                .left {
                    bottom: 0;
                    left: 0;
                    width: 4px;
                    height: 0%;
                    background: $mainColor;
                }

                .bottom {
                    bottom: 0;
                    right: 0;
                    width: 0%;
                    height: 4px;
                    background: $mainColor;
                }

                .right {
                    top: 0;
                    right: 0;
                    width: 4px;
                    height: 0%;
                    background: $mainColor;
                }
            }

            h1 {
                font: bold 30px/1 $font1;
                margin-bottom: 30px;
                color: $mainColor;
            }

            p {
                font: 14px/1.4 $font1;
                color: #666;
                margin-bottom: 60px;
            }

            a {
                @include viewBtn();
            }
        }

        .pic {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -2;
            width: 600px;
            height: 100%;
            //background: url('../img/section2.jpg') left/cover;
        }

        .nextBtn {
            @include nextBtn($color: #fff);
        }
    }
}


#quote {
    width: 100%;

    //Scroll Animation : Start
    &.on .inner {
        p, span {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .inner {
        p, span {
            opacity: 0;
            transition: 1s;
        }
        p { transform: translateY(-20px); }
        span { transform: translateY(20px); }
    }
    //Scroll Animation : End
    
    .inner {
        position: relative;
        width: 1180px;
        margin: 0 auto;
        padding: 80px 200px;
        text-align: center;
        
        p {
            font: 600 14px/2 $font1;
            color: $mainColor;
            margin-bottom: 50px;
        }
        
        span {
            display: block;
            
            &:nth-of-type(1) {
                font: bold 14px/1 $font1;
                color: $pointColor;
                margin-bottom: 10px;
            }

            &:nth-of-type(2) {
                font: 600 12px/1 $font1;
                color: $mainColor;
            }
        }
    }
}


#subscribe {
    position: relative;
    width: 100%;
    background-color: $mainColor;

    //Scroll Animation : Start
    &.on .inner {
        h1, h2, input, button {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .inner {
        h1, h2, input, button {
            opacity: 0;
            transition: 1s;
        }
        h1, h2 { transform: translateY(-20px); }
        input, button { transform: translateY(20px); }
    }
    //Scroll Animation : End

    .inner {
        position: relative;
        z-index: 1;
        width: 1180px;
        margin: 0 auto;
        text-align: center;
        padding: 60px 0px 80px 0px;
        font-size: 0;

        h1 {
            font: 600 30px/1 $font1;
            color: $pointColor;
            letter-spacing: 3px;
            margin-bottom: 10px;
        }

        h2 {
            font: normal 20px/1 $font2;
            color: #fff; 
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
    }

    input[type=email] {
        display: inline-block;
        width: 40%;
        height: 40px;
        background-color: #aaa;
        border: 0;
        margin-right: 15px;
        outline: none;
        text-indent: 1em;
        font: 600 12px/1 $font1;
        letter-spacing: 1px;

        &::placeholder {
            color: #eeeeee;
        }
    }

    button {
        display: inline-block;
        width: 120px;
        height: 40px;
        background-color: $subColor1;
        border: 0;
        color: #fff;
        font: 600 12px/1 $font1;
        cursor: pointer;
        
    }
}


#gallery {
    width: 100%;

    //Scroll Animation : Start
    &.on {
        opacity: 1;
        transform: translateY(0px);
    }
    opacity: 0;
    transition: 1s;
    transform: translateY(30px);
    //Scroll Animation : End

    >.inner {
        width: 1180px;
        margin: 0 auto;
        padding: 100px 0 120px 0;

        h1 {
            font: bold 36px/1 $font1;
            color: $mainColor;
            text-align: right;
            margin-bottom: 30px;
        }

        .hashtags {
            display: flex;
            margin-bottom: 5px;
            margin-left: 20px;

            li {
                margin-right: 20px;

                span {
                    font: 600 14px/1 $font1;
                    color: $subColor1;
                    cursor: pointer;

                    &::before {
                        content: "#";
                    }
                }
                
                &.on span, &:hover span {
                    color: $pointColor;
                }
            }
        }

        .wrap {
            width: 100%;
            margin-left: 20px;

            &::after {
                content: "";
                display: block;
                clear: both;
            }

            article {
                position: relative;
                float: left;
                width: calc((100% / 4) - 20px);
                aspect-ratio: 1;
                background-color: #eee;
                margin-right: 20px;
                margin-bottom: 20px;
                font-size: 0;
                cursor: pointer;
                overflow: hidden;box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
                
                &:first-child {
                    width: calc((100% / 2) - 20px);
                }
                
                &:not(:first-child):hover img {
                    transform: scale(1.1);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .5s;
                    filter: grayscale(.3)
                }
            }
        }
    }
}

#location {
    position: relative;
    width: 100%;
    background: #e3e4e6;

    //Scroll Animation : Start
    &.on .inner .address {
        opacity: 1;
        transform: translateX(0px);
    }
    .inner .address {
        opacity: 0;
        transition: 1s;
        transform: translateX(20px);
    }
    //Scroll Animation : End
    
    .container {
        position: absolute;
        width: calc(((100% - 1180px) / 2) + (1180px * 0.7));
        //width: 70%;
        height: 100%;
        float: left;

        #map {
            width: 100%;
            height: 100%;
            filter: sepia(40%) saturate(48%) hue-rotate(177deg) brightness(92%) contrast(96%);
        }
    
        .branchBtns {
            position: absolute;
            z-index: 10;
            top: 10px;
            right: 10px;
            display: flex;
            flex-direction: column;
            width: 150px;

            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 50px;
                margin-bottom: 10px;
                font: 600 12px/1 $font1;
                background: #fff;
                color: $mainColor;
                cursor: pointer;
                transition: .5s;

                span {
                    display: block;
                    margin-top: 5px;
                    font: 600 10px/1 $font1;
                }

                &.on, &:hover {
                    background: $subColor1;  
                    color: #fff;
                    span { color: $subColor2; }
                }
            }
        }
    }

    .inner {
        position: relative;
        width: 1180px;
        height: 400px;
        margin: 0 auto;
        
        .address {
            position: absolute;
            top: 0; right: 0;
            width: calc(30% - 40px);
            height: calc(100% - 40px);
            float: left;
            text-align: center;
            margin: 20px;
            border: 15px solid $mainColor;
            background: $mainColor;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

            
            .officeTitle {
                width: 100%;
                padding: 30px 20px;

                h2 {
                    font: bold 26px/1 $font1;
                    color: #fff;
                    margin-bottom: 10px;
                    letter-spacing: 1px;
                }

                h3 {
                    font: 600 18px/1 $font1;
                    color: $subColor2;
                }

            }

            .addressDetail {
                width: 100%;
                height: calc(100% - 114px);
                padding: 20px;
                background: #fff;

                h4 {
                    font: 600 14px/1.5 $font1;
                    color: #333;
                    margin-bottom: 20px;
                }

                p {
                    font: 600 12px/1.5 $font1;
                    color: #555;
                    margin-bottom: 10px;

                    span {
                        color: $pointColor;
                        margin-right: 10px;
                    }
                }
            }
        }


        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }
}




//Tablet--------------------------------------
@media screen and (max-width: $tablet) {

#visual {

    .bgs img {
        height: 800px;
    }

    &::after {
        height: 800px;  
    }

    .inner {
        width: 100%; 
        height: 700px;  


        &::before {
            height: 800px;  
            min-width: 200px;  
        }

        .container {
            top: 15%;   
            left: 10vw; 
        }

        .nextBtn {
            top: 60%;   
        }

        .wrap {
            right: 5vw; //

            article {
                width: 20vw;    
            }
        }
    }
}

#trending {
    //Scroll Animation : Start
    &.on .inner {
        .slider, button {
            opacity: 1 !important;
            transform: translateY(0px);
            bottom: 70px !important;
        }
    }
    .inner {
        button {
            opacity: 0 !important;
            bottom: 40px !important;
        }

        .slider {
            opacity: 0;
            transform: translateY(30px);
            transition: 1s;

            .wrap article {
                video, .textBox {
                    opacity: 1;
                }

                video { 
                    transform: translateY(0px); 
                }

                .textBox { 
                    transform: translateY(0px);
                }
            }
        }
    }
    //Scroll Animation : End

    .inner {
        flex-wrap: wrap;   
        width: 100%;   
        height: auto;  
        padding: 50px 5vw 70px;  

        >.textBox {
            width: 100%; 
            padding: 0px 0px 30px;  
        }

        .slider {
            width: 100%;
            padding: 0px;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

            .wrap {
                article {
                    video, .textBox {
                        width: 50%;
                        margin-left: 0;
                    }

                    video {
                        filter: grayscale(0);
                    }

                    .textBox p {
                        padding-right: 0px;
                    }
                }
            }
            
        }

        .prevBtn, .nextBtn {
            top: auto;   
            bottom: 70px;   
            transform: translateY(0);   
        }

        .prevBtn {
            left: auto;
            right: calc(5vw + 50px); 
        }

        .nextBtn {
            right: 5vw;     
        }
    }
}

#about {

    .inner {
        flex-wrap: wrap-reverse;    
        width: 100%;   
        padding: 50px 5vw 100px; 

        .buttons {
            flex-direction: row;    
            width: 100%; 
            margin-bottom: 50px;
            margin-left: 0;  
            
            button {
                margin: 0px 10px;  
            }
        }

        .textBox {
            width: calc(100% - 400px - 5vw);   
            min-width: calc(50% - 5vw);    
            padding-top: 30px;

            h1 {
                text-align: center;
                font-size: 30px;
                margin-bottom: 20px;
            }
            
            .contact {
                .contactForm {
                    padding-right: 0px;
                }
            }
        }


        img {
            width: 50%; 
            margin-right: 5vw; 
            box-shadow: none !important;
        }
    }
}

#philosophy {

    .inner {
        width: 100%;    

        .textBox {
            max-width: 600px;   
            width: 100%;    
            padding: 120px 50px;    
        }

        .pic {
            width: 100%;    
            max-width: 600px;   
        }
    }
}

#quote {
    .inner {
        width: 100%;    
        padding: 70px 10vw; 
    }
}

#subscribe {

    .inner {
        width: 100%;    //
    }

    input[type=email] {
        width: 55%; //
        max-width: 500px;   //
    }
}

#gallery {

    .inner {
        width: 100%;    
        padding: 50px calc(2vw + 15px) 70px 2vw;    

        .hashtags {
            margin-bottom: 10px;    

            li {
                margin-right: 15px; 

                a {
                    display: inline-block;
                    padding: 10px 7px;
                    background: $subColor1;
                    color: #fff;
                }
                
                &.on a, &:hover a {
                    background: $pointColor;
                    color: #fff;
                }
            }
        }

        .wrap {
            margin-left: 15px;  

            article {
                width: calc((100% / 4) - 15px); 
                margin-right: 15px;
                margin-bottom: 15px;
                box-shadow: none;
                
                &:first-child {
                    width: calc((100% / 2) - 15px); 
                }
            }
        }
    }
}

#location {

    .container {
        width: 65%; 
        max-width: calc(100% - 250px);
    }

    .inner {
        width: 100%;    


        
        .address {
            width: 35%;
            min-width: 250px;
            height: 100%;
            margin: 0px;
            border: 20px solid $subColor2;
            background: #fff;
            box-shadow: none;

            
            .officeTitle {
                padding: 25px 2vw;  

                h2 {
                    font: bold 24px/1.2 $font1;
                    color: $mainColor;
                }

                h3 {
                    color: $subColor1;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 2px;
                    background-color: $mainColor;
                    margin: 25px auto 0;
                }

            }

            .addressDetail {
                height: auto;
                padding: 0px 20px;

            }
        }
    }
}

}


//Mobile--------------------------------------
@media screen and (max-width: $mobile) {

#visual {

    .bgs img {
        height: 650px;
    }

    &::after {
        height: 650px;  
    }

    .inner { 
        height: 550px;  


        &::before {
            height: 650px;  
        }

        .container {
            top: 10%;   
            width: calc(100% - 20vw);
        }

        .nextBtn {
            top: 70%;   
        }

        .wrap {
            display: none;
        }
    }
}

#trending {
    .inner {
        >.textBox {
            h1 {
                margin-bottom: 20px;
            }
            p {
                font-size: 13px;
            }
        }

        .slider {

            .wrap {

                article {
                    flex-wrap: wrap;  
                    height: auto;  

                    video {
                        width: 100%;    
                        height: 25vw;  
                        margin-left: 0; 
                        min-height: 300px;  
                        filter: grayscale(0);   
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

                        &:hover {
                            transform: scale(1);  
                        }
                    }

                    .textBox {
                        display: flex; 
                        flex-wrap: wrap;
                        align-content: flex-start;
                        width: 100%;    
                        margin-left: 0%;    
                        height: 300px;   
                        padding: 25px; 

                        span {
                            display: inline-block;
                            font-size: 80px;
                            margin: -10px 15px 0px 0px;
                        }

                        h2 {
                            display: flex;
                            align-self: flex-end;
                            width: calc(100% - 80px);
                            margin: 0px;
                            padding: 10px 0px;
                            text-transform: uppercase;
                        }

                        p {
                            padding-top: 5px;
                            font-size: 13px;
                        }
                        
                        a {
                            right: 0px;
                            bottom: 10px;
                        }
                    }
                }
            }
        }

        .prevBtn {
            left: 5vw; 
        }

        .nextBtn {
            right: auto;    
            left: calc(5vw + 50px);    
        }
    }
}

#about {

    .inner {
        flex-wrap: wrap;   
        justify-content: center;
        padding: 30px 5vw; 

        .buttons {
            order: 0;
            margin-bottom: 25px;
        }

        .textBox {
            order: 2;
            width: 100%;   
            max-width: 400px;
            min-width: none;   
            padding: 30px 0;
        }

        img {
            order: 1;
            width: 100%; 
            margin-right: 0px; 
            box-shadow: none;
        }
    }
}

#philosophy {

    .inner {
        padding: 10vw;

        .textBox {   
            padding: 80px 10vw;    
            
            p {
                color: #000;
            }
        }
    }
}

#quote {
    .inner {
        padding: 50px 10vw; 

        p {
            margin-bottom: 30px;
        }
    }
}

#subscribe {

    input[type=email] {
        width: 60%; 
        max-width: 500px;  
    }

    button {
        width: 100px;
    }
}

#gallery {

    >.inner {
        padding: 50px 3vw 70px;  
        
        h1 {
            text-align: center;
        }

        .hashtags {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            margin-left: 1vw; 

            li {
                display: flex;
                margin-right: 1vw;
                margin-bottom: 7px;

                a {
                    font-size: 1vw;    
                }
            }
        }

        .wrap { 
            margin-left: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: auto;

            article {
                width: calc((100% / 4) - 1.5vw); 
                margin-right: 1.5vw;
                margin-bottom: 1.5vw;
                
                &:first-child {
                    width: calc(100% - 1.5vw); 
                    aspect-ratio: 2 / 1;
                    margin-right: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

#location {

    .container {
        width: 100%; 
        height: 60%;
        max-width: none;
    }

    .inner {
        height: 600px;
        
        .address {
            top: auto; bottom: 0;
            display: flex;
            width: 100%;
            height: 40%;
            border: 0;

            
            .officeTitle {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 40%;
                background-color: $subColor1;

                h2 {
                    color: #fff;
                }

                h3 {
                    color: $mainColor;
                }

                &::after {
                    display: none;
                }

            }

            .addressDetail {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 60%;
            }
        }
    }
}

}