.community {

.container {
    width: 100%;
    padding-top: 50px;

    .inner {
        display: flex;
        width: 1180px;
        margin: 50px auto 150px auto;

        .title {
            width: 20%;
            font: 600 36px/1.3 $font1;
            color: $mainColor;
            text-align: right;
        }
        // Board : Common CSS
        .board {
            width: 80%;
            padding: 0 50px;

            .category, .searchBox, .pagination, .boardForm {
                animation: fadeIn 1s, moveUp 1s;
            }

            .noResult {
                text-align: center;

                td {
                    font: 600 14px/1 $font1;
                    color: #555;
                }
            }

            .category {
                display: flex;
                width: 100%;
                height: 150px;
                margin-bottom: 20px;
                border: 1px solid $subColor1;
                cursor: pointer;

                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 25%;
                    height: 100%;
                    border-right: 1px solid $subColor1;
                    transition: .5s;

                    &.on, &:hover {
                        background: $subColor1;

                        i, span {
                            color: #fff;
                        }
                    }

                    &:last-child {
                        border-right: 0;
                    }

                    i {
                        font-size: 40px;
                        color: $mainColor;
                        margin-bottom: 10px;
                    }

                    span {
                        font: 600 14px/1 $font1;
                        color: $mainColor;
                    }
                }
                
            }

            .searchBox {
                display: flex;
                justify-content: right;
                align-items: center;
                
                .searchInput {
                    width: 200px;
                    height: 35px;
                    border: 0;
                    background: #eee;
                    font: 14px/1 $font2;
                    outline: none;
                    text-indent: 1em;
                }

                .searchBtn {
                    border: 0;

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        background: $mainColor;
                        color: #fff;
                        font-size: 12px;
                        cursor: pointer;
                    }
                }

            }

            .pagination {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 40px 0;

                ul {
                    display: flex;
                    margin: 0 10px;

                    li {
                        margin: 0 10px; 

                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 25px;
                            height: 25px;
                            font: 600 14px/1 $font1;
                            color: #333;
                            background: transparent;
                            border: 0;
                            cursor: pointer;
                        }

                        &.on button, &:hover button {
                            font: bold 14px/1 $font1;
                            color: $pointColor;
                        }
                    }
                }

                .prevBtn, .nextBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    background: $mainColor;
                    color: #fff;
                    transition: .5s;
                    border: 0;

                    i {
                        font-size: 10px;
                    }

                    &:enabled:hover {
                        background: #fff;
                        border: 1px solid $mainColor;
                        color: $mainColor;
                        cursor: pointer;
                    }

                    &:disabled {
                        background: #bbb;
                    }
                }
                
            }
        }

    }
}

.faqBoard {
    // Board : FAQ CSS
    .board {
        
        .boardForm {
            width: 100%;
            margin: 20px 0;
            border-top: 2px solid $mainColor;
            border-bottom: 2px solid $mainColor;
            border-collapse: collapse;
            

            tr {
                width: 100%;

            
                &.question{
                    cursor: pointer;

                    &:hover, &.on {
                        th, td {
                            color: #fff;
                            background: $subColor1;
                        }

                        .viewMore span {
                            background: #fff;
                        }
                    }

                    &.on .viewMore span {
                        &:nth-of-type(1) {
                            transform: rotate(-45deg) !important;
                            //-45
                        }

                        &:nth-of-type(2) {
                            transform: rotate(405deg) !important;
                            //405
                        }
                    }
                }


                th {
                    width: 20%;
                    min-width: 120px;
                    font: 600 12px/1 $font2;
                    letter-spacing: 1px;
                    color: $mainColor;
                    //background: #eee;
                    border-bottom: 1px solid #eee;
                    transition: .5s;
                    
                }

                td {
                    position: relative;
                    width: 80%;
                    max-width: 564px;
                    padding: 20px 50px 20px 20px;
                    font: 14px/1.3 $font2;
                    background: #fff;
                    color: #333;
                    border-bottom: 1px solid #eee;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: .5s;

                    .viewMore {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 15px;
                        display: inline-flex;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        font-size: 0;

                        span {
                            position: absolute;
                            display: inline-block;
                            width: 12px;
                            height: 1px;
                            background: #333;
                            transition: .5s;
                        }
                        span:nth-of-type(1) {
                            left: 0;
                            transform: rotate(45deg);
                        }

                        span:nth-of-type(2) {
                            right: 0;
                            transform: rotate(315deg);
                        }
                    }
                }
            }

            .answer {
                width: 100%;
                animation: toggle 1s;

                th {
                    background: #eee;
                    color: $mainColor;
                }

                td {
                    color: #555;
                    background: #eee;
                    white-space: normal;
                    overflow: auto;
                    text-overflow: unset;
                }

                &.hide {
                    display: none;
                }
            }
        }
    }
}

.noticeBoard {
    // Board : Notice CSS 
    .board {

        .boardForm {
            width: 100%;
            margin-bottom: 20px;
            border-top: 2px solid $mainColor;
            border-bottom: 2px solid $mainColor;
            border-collapse: collapse;

            thead {
                tr {
                    width: 100%;
                    background: $subColor1;

                    th {
                        padding: 20px;
                        font: 12px/1 $font1;
                        letter-spacing: 1px;
                        color: #fff;
                        //background: #eee;
                        border-bottom: 1px solid #ccc;
                        transition: .5s;
                    }
                }
            }

            tbody {
                tr {
                    width: 100%;
                    cursor: pointer;

                    &:hover td {
                        background: #eee;
                    }

                    td {
                        max-width: 564px;
                        padding: 20px;
                        font: 600 12px/1.3 $font2;
                        background: #fff;
                        color: #555;
                        border-bottom: 1px solid #eee;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: .5s;

                        &.idx {
                            width: 10%;
                            text-align: center;
                        }

                        &.title {
                            width: 70%;
                            text-align: left;
                        }

                        &.author {
                            width: 10%;
                        }
                    }
                }
            }
        }

        .noticePost {
            width: 100%;
            margin-bottom: 20px;
            border-top: 2px solid $mainColor;
            border-collapse: collapse;

            tbody {
                tr {
                    width: 100%;

                    td {
                        letter-spacing: 1px;
                        transition: .5s;
                    }
                }

                .title {
                    background: $subColor1;
                    text-align: left;

                    td {    
                        padding: 20px;
                        font: 14px/1 $font2;
                        color: #eee;
                    }
                }

                .extraDetail {
                    background: #eee;
                    border-bottom: 1px solid #bbb;

                    td {
                        padding: 15px 20px;
                        font: 12px/1 $font1;
                        color: #444;

                        &:nth-of-type(1) {
                            width: 80%;
                            text-align: left;
                        }
                        &:nth-of-type(2) {
                            width: 20%;
                            text-align: right;
                        }
                    }
                }
                
                .content {
                    border-bottom: 2px solid $mainColor;

                    .contentBox {
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        min-height: 300px;
                        padding: 30px 20px;
                        font: 14px/1.4 $font2;
                        text-align: justify;
                        color: #555;
                    }
                }

                .moveTo {
                    border-bottom: 2px solid $mainColor;
                    
                    td p {
                        display: flex;
                        padding: 12px 20px;
                        
                        &:hover {
                            background: #f8f8f8;
                        }
                        
                        a, span {
                            font: 13px/1 $font2;
                            color: #666;
                            
                            span {
                                font: bold 12px/1 $font2;
                            }
                        }

                        &:first-child {
                            border-bottom: 1px solid #ddd;
                        }
                    }
                }

                .viewBtns {
                    td {
                        padding-top: 30px;
                    }

                    button {
                        width: 100px;
                        height: 40px;
                        border: 0px;
                        font: 12px/1 $font1;
                        color: #eee;
                        letter-spacing: 1px;
                        cursor: pointer;

                        &.prevBtn, &.nextBtn {
                            background: $mainColor;
                            margin-right: 10px;
                            float: left;

                            &:hover {
                                color: $pointColor;
                            }
                        }

                        &.listBtn {
                            background: $subColor1;
                            float: right;
                        }

                        &::after {
                            content: "";
                            display: block;
                            clear: both;
                        }
                    }

                } 
            }
        }
    }
}

}

