.community {

.visual_sub {
    .inner {
        .pic {
            //background: url(../img/visual_sub_community.jpg) center/cover;
        }
    }
}



.container {
    width: 100%;
    padding-top: 50px;

    .inner {
        display: flex;
        width: 1180px;
        margin: 50px auto 150px auto;

        .title {
            width: 20%;
            font: 600 36px/1.3 $font1;
            color: $mainColor;
            text-align: right;
        }
        // Board : Common CSS
        .board {
            width: 80%;
            padding: 0 50px;

            .category, .searchBox, .pagination, .boardForm {
                animation: fadeIn 1s, moveUp 1s;
            }


            .category {
                display: flex;
                width: 100%;
                height: 150px;
                margin-bottom: 20px;
                border: 1px solid $subColor1;
                cursor: pointer;

                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 25%;
                    height: 100%;
                    border-right: 1px solid $subColor1;
                    transition: .5s;

                    &.on, &:hover {
                        background: $subColor1;

                        i, span {
                            color: #fff;
                        }
                    }

                    &:last-child {
                        border-right: 0;
                    }

                    i {
                        font-size: 40px;
                        color: $mainColor;
                        margin-bottom: 10px;
                    }

                    span {
                        font: 600 14px/1 $font1;
                        color: $mainColor;
                    }
                }
                
            }

            .searchBox {
                display: flex;
                justify-content: right;
                align-items: center;
                
                #searchFaq {
                    width: 200px;
                    height: 35px;
                    border: 0;
                    background: #eee;
                    font: 14px/1 $font2;
                    outline: none;
                    text-indent: 1em;
                }

                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    background: $mainColor;
                    color: #fff;
                    font-size: 12px;
                    cursor: pointer;
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 40px 0;

                ul {
                    display: flex;
                    margin: 0 10px;

                    li {
                        margin: 0 10px; 

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 25px;
                            height: 25px;
                            font: 600 14px/1 $font1;
                            color: #333;
                        }

                        &.on a, &:hover a {
                            font: bold 14px/1 $font1;
                            color: $pointColor;
                        }
                    }
                }

                >a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    background: $mainColor;
                    color: #fff;
                    transition: .5s;

                    i {
                        font-size: 10px;
                    }

                    &:hover {
                        background: #fff;
                        border: 1px solid $mainColor;
                        color: $mainColor;
                    }
                }
                
            }
        }





        // Contact us CSS
        .contactUs {
            display: none;
            width: 80%;
            padding: 0 50px;

            .title {
                position: relative;
                z-index: 1;
                //margin-bottom: 30px;
            }

            &.on {
                .title {
                    opacity: 1;
                    transform: translateY(0);
                }

                .contactForm {
                    opacity: 1;
                    transform: translateY(-40px);
                }

                .location {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .contactForm {
                //opacity: 1;
                //transform: translateY(-40px);
                opacity: 0;
                transform: translateY(60px);
                transition: 1s;
                width: 100%;
                padding: 75px 50px 30px;
                border: 1px solid $mainColor;

                fieldset { border: 0; }

                table {
                    width: 100%;
                    border-collapse: separate;
                    border-spacing: 0px 10px;

                    tr {
                        width: 100%;

                        &.errMsg {
                            th {
                                opacity: 0;
                            }

                            td {
                                font: 600 12px/1 $font2;
                                color: $pointColor;
                                padding-left: 1em;
                                
                            }
                        }

                        &.formBtns {
                            th {
                                width: 100%;
                                background: transparent;
                                padding-top: 20px;
                                font-size: 0;

                                input {
                                    display: inline-block;
                                    width: 150px;
                                    height: 45px;
                                    margin-right: 10px;
                                    font: 600 12px/1 $font1;
                                    letter-spacing: 1px;
                                    cursor: pointer;
                                }

                                input[type=reset] {
                                    border: 1px solid $mainColor;
                                    background: #fff;
                                    color: $mainColor;
                                }

                                input[type=submit] {
                                    border: 0;
                                    border: 0;
                                    background: $mainColor;
                                    color: #fff;
                                    transition: .5s;

                                    &:hover {
                                        color: $pointColor;
                                    }
                                }
                            }
                        }

                        th {
                            width: 20%;
                            min-width: 120px;
                            height: 100%;
                            background: $subColor1;
                            color: #fff;
                            font: 600 12px/1 $font1;
                        }

                        td {
                            width: 80%;
                            height: 100%;
                            font-size: 0;

                            input[type=text], input[type=number], input[type=email] {
                                width: 100%;
                                height: 45px;
                                border: 0;
                                background: #eee;
                                text-indent: 1em;
                                font: 14px/1 $font1;
                                color: #333;
                                outline: none;
                            }

                            textarea {
                                width: 100%;
                                height: 200px;
                                resize: none;
                                background: #eee;
                                border: 0;
                                padding: 1em;
                                font: 14px/1 $font1;
                                color: #333;
                                outline: none;
                            }

                        }
                        
                    }
                }
            }

            .location {
                opacity: 0;
                transform: translateY(140px);
                transition: 1s;
                position: relative;
                width: 100%;
                height: 444px;

                h1 {
                    font: 600 24px/1 $font1;

                    span {
                        display: inline-block;
                        padding: 10px;
                        color: #fff;
                        background: $mainColor;
                    }
                }

                #map {
                    width: 70%;
                    height: calc(100% - 44px);
                    filter: grayscale(.7);
                    transition: .5s;
                    float: left;

                    &:hover {
                        filter: grayscale(0);
                    }
                }

                .branchBtns {
                    position: absolute;
                    bottom: 0px;
                    right: calc(30% + 10px);
                    display: flex;
                    flex-direction: column;
                    width: 120px;

                    a {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 120px;
                        height: 50px;
                        margin-bottom: 10px;
                        font: 600 12px/1 $font1;
                        border: 1px solid $mainColor;
                        background: #fff;
                        color: $mainColor;
                        transition: .5s;

                        span {
                            display: block;
                            margin-top: 5px;
                            font: 600 10px/1 $font1;
                        }

                        &.on, &:hover {
                            background: $mainColor; 
                            color: #fff; 
                            span { color: $pointColor; }
                        }
                    }
                }

                .address {
                    width: 28%;
                    margin-left: 2%;
                    height: calc(100% - 44px);
                    float: left;
                    text-align: center;
                    border: 2px solid #eee;

                    .officeTitle {
                        width: 100%;
                        padding: 35px 20px;
                        background: #eee;

                        h2 {
                            font: bold 20px/1 $font1;
                            color: $mainColor;
                            margin-bottom: 10px;
                            letter-spacing: 1px;
                        }
    
                        h3 {
                            font: 600 14px/1 $font1;
                            color: $mainColor;
                        }

                    }

                    .addressDetail {
                        width: 100%;
                        height: calc(100% - 114px);
                        padding: 45px 30px;

                        h4 {
                            font: 600 14px/1.5 $font1;
                            color: #333;
                            margin-bottom: 20px;
                            
                            &::after {
                                content: "";
                                display: block;
                                width: 20px;
                                height: 2px;
                                background: $mainColor;
                                margin: 0 auto;
                                margin-top: 15px;
                            }
                        }
    
                        p {
                            font: 600 12px/1.5 $font1;
                            color: #555;
                            margin-bottom: 10px;
    
                            span {
                                color: $pointColor;
                                margin-right: 10px;
                            }
                        }
                    }
                    }


                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }
    }
}

.faqBoard {
    // Board : FAQ CSS
    .board {
        
        .boardForm {
            width: 100%;
            height: 500px;
            margin: 20px 0;
            border-top: 2px solid $mainColor;
            border-bottom: 2px solid $mainColor;
            border-collapse: collapse;
            

            tr {
                width: 100%;

            
                &.question{
                    cursor: pointer;

                    &:hover, &.on {
                        th, td {
                            color: #fff;
                            background: $subColor1;
                        }

                        .viewMore span {
                            background: #fff;
                        }
                    }

                    &.on .viewMore span {
                        &:nth-of-type(1) {
                            transform: rotate(-45deg) !important;
                            //-45
                        }

                        &:nth-of-type(2) {
                            transform: rotate(405deg) !important;
                            //405
                        }
                    }
                }


                th {
                    width: 20%;
                    min-width: 120px;
                    font: 600 12px/1 $font2;
                    letter-spacing: 1px;
                    color: $mainColor;
                    //background: #eee;
                    border-bottom: 1px solid #eee;
                    transition: .5s;
                    
                }

                td {
                    position: relative;
                    width: 80%;
                    max-width: 564px;
                    padding: 20px 50px 20px 20px;
                    font: 14px/1.3 $font2;
                    background: #fff;
                    color: #333;
                    border-bottom: 1px solid #eee;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: .5s;

                    .viewMore {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 15px;
                        display: inline-flex;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        font-size: 0;

                        span {
                            position: absolute;
                            display: inline-block;
                            width: 12px;
                            height: 1px;
                            background: #333;
                            transition: .5s;
                        }
                        span:nth-of-type(1) {
                            left: 0;
                            transform: rotate(45deg);
                        }

                        span:nth-of-type(2) {
                            right: 0;
                            transform: rotate(315deg);
                        }
                    }
                }
            }

            .answer {
                width: 100%;
                animation: toggle 1s;

                th {
                    background: #eee;
                    color: $mainColor;
                }

                td {
                    color: #555;
                    background: #eee;
                    white-space: normal;
                    overflow: auto;
                    text-overflow: unset;
                }

                &.hide {
                    display: none;
                }
            }
        }
    }
}

.noticeBoard {
    // Board : Notice CSS 
    .board {

        .boardForm {
            width: 100%;
            margin-bottom: 20px;
            border-top: 2px solid $mainColor;
            border-bottom: 2px solid $mainColor;
            border-collapse: collapse;

            thead {
                tr {
                    width: 100%;
                    background: $subColor1;

                    th {
                        padding: 20px;
                        font: 12px/1 $font1;
                        letter-spacing: 1px;
                        color: #fff;
                        //background: #eee;
                        border-bottom: 1px solid #ccc;
                        transition: .5s;
                    }
                }
            }

            tbody {
                tr {
                    width: 100%;
                    cursor: pointer;

                    &:hover td {
                        background: #eee;
                    }

                    td {
                        max-width: 564px;
                        padding: 20px;
                        font: 600 12px/1.3 $font2;
                        background: #fff;
                        color: #555;
                        border-bottom: 1px solid #eee;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: .5s;

                        &.idx {
                            width: 10%;
                            text-align: center;
                        }

                        &.title {
                            width: 70%;
                            text-align: left;
                        }

                        &.author {
                            width: 10%;
                        }
                    }
                }
            }
        }

        .noticePost {
            width: 100%;
            margin-bottom: 20px;
            border-top: 2px solid $mainColor;
            border-collapse: collapse;

            tbody {
                tr {
                    width: 100%;

                    td {
                        letter-spacing: 1px;
                        transition: .5s;
                    }
                }

                .title {
                    background: $subColor1;
                    text-align: left;

                    td {    
                        padding: 20px;
                        font: 14px/1 $font2;
                        color: #eee;
                    }
                }

                .extraDetail {
                    background: #eee;
                    border-bottom: 1px solid #bbb;

                    td {
                        padding: 15px 20px;
                        font: 12px/1 $font1;
                        color: #444;

                        &:nth-of-type(1) {
                            width: 80%;
                            text-align: left;
                        }
                        &:nth-of-type(2) {
                            width: 20%;
                            text-align: right;
                        }
                    }
                }
                
                .content {
                    border-bottom: 2px solid $mainColor;

                    .contentBox {
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        min-height: 300px;
                        padding: 30px 20px;
                        font: 14px/1.4 $font2;
                        text-align: justify;
                        color: #555;
                    }
                }

                .moveTo {
                    border-bottom: 2px solid $mainColor;
                    
                    td p {
                        display: flex;
                        padding: 12px 20px;
                        
                        &:hover {
                            background: #f8f8f8;
                        }
                        
                        a, span {
                            font: 13px/1 $font2;
                            color: #666;
                            
                            span {
                                font: bold 12px/1 $font2;
                            }
                        }

                        &:first-child {
                            border-bottom: 1px solid #ddd;
                        }
                    }
                }

                .viewBtns {
                    td {
                        padding-top: 30px;
                    }

                    button {
                        width: 100px;
                        height: 40px;
                        border: 0px;
                        font: 12px/1 $font1;
                        color: #eee;
                        letter-spacing: 1px;
                        cursor: pointer;

                        &.prevBtn, &.nextBtn {
                            background: $mainColor;
                            margin-right: 10px;
                            float: left;

                            &:hover {
                                color: $pointColor;
                            }
                        }

                        &.listBtn {
                            background: $subColor1;
                            float: right;
                        }

                        &::after {
                            content: "";
                            display: block;
                            clear: both;
                        }
                    }

                } 
            }
        }
    }
}

}


//Tablet--------------------------------------------
@media screen and (max-width: $tablet) {
.contact {

.container {
    width: 100%;

    .inner {
        display: flex;
        flex-wrap: wrap;//
        width: 100%;//
        margin: 0 auto 150px;//

        .tabMenu {
            width: 100%;//
            padding-top: 0px;//
            border-right: 1px solid #eee;

            ul {
                width: 50%;//
                height: 100%;

                li {
                    position: relative;
                    width: 80%;
                    margin: 10px 10%;
                    float: left;

                    a {
                        display: block;
                        width: 100%;
                        font: 20px/1 $font2;
                        padding: 5px 15px;
                        text-align: left;
                        color: $mainColor;
                        letter-spacing: 1px;
                        transition: .5s;
                    }

                    &:hover a {
                        color: $pointColor;
                    }

                    &::before {
                        content: "";
                        display: block;
                        transition: 1s;
                    }

                    &.on {
                        &::before {
                        position: absolute;
                        top: 0;
                        left: 0px;
                        width: 5px;
                        height: 100%;
                        background: $pointColor;
                        }

                        a {
                            color: $pointColor;
                        }
                    }
                }
            }
        }

        .title {
            width: 100%;
            text-align: center;
            animation: fadeIn 1s, moveDown 1s;

            h1 {
                position: relative;
                display: inline-block;

                span {
                    position: relative;
                    display: inline-block;
                    padding: 5px;
                    font: bold 50px/1 $font1;
                    color: $mainColor;
                    background: #fff;
                    border: 1px solid $mainColor;
                }

                span span {
                    padding: 8px;
                }

                &::before {
                    position: absolute;
                    z-index: -1;
                    display: block;
                    top: -10px;
                    right: -10px;
                    content: "";
                    z-index: 0;
                    width: 50px;
                    height: 50px;
                    background: $mainColor;
                }
            }
        }

        // Board : Common CSS
        .board {
            width: 100%;//
            padding: 0 50px;

            .category, .searchBox, .pagination, .boardForm {
                animation: fadeIn 1s, moveUp 1s;
            }


            .category {
                display: flex;
                width: 100%;
                height: 150px;
                margin: 20px 0px;
                border: 1px solid $subColor1;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 25%;
                    height: 100%;
                    border-right: 1px solid $subColor1;
                    transition: .5s;

                    &.on, &:hover {
                        background: $subColor1;

                        i, span {
                            color: #fff;
                        }
                    }

                    &:last-child {
                        border-right: 0;
                    }

                    i {
                        font-size: 40px;
                        color: $mainColor;
                        margin-bottom: 10px;
                    }

                    span {
                        font: 600 14px/1 $font1;
                        color: $mainColor;
                    }
                }
                
            }

            .searchBox {
                display: flex;
                justify-content: right;
                align-items: center;
                
                #searchFaq {
                    width: 200px;
                    height: 35px;
                    border: 0;
                    background: #eee;
                    font: 14px/1 $font2;
                    outline: none;
                    text-indent: 1em;
                }

                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    background: $mainColor;
                    color: #fff;
                    font-size: 12px;
                    cursor: pointer;
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 40px 0;

                ul {
                    display: flex;
                    margin: 0 10px;

                    li {
                        margin: 0 10px; 

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 25px;
                            height: 25px;
                            font: 600 14px/1 $font1;
                            color: #333;
                        }

                        &.on a, &:hover a {
                            font: bold 14px/1 $font1;
                            color: $pointColor;
                        }
                    }
                }

                >a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    background: $mainColor;
                    color: #fff;
                    transition: .5s;

                    i {
                        font-size: 10px;
                    }

                    &:hover {
                        background: #fff;
                        border: 1px solid $mainColor;
                        color: $mainColor;
                    }
                }
                
            }
        }

        // Board : FAQ CSS
        .faqBoard {
            //display: none;

            .boardForm {
                width: 100%;
                height: 500px;
                margin: 20px 0;
                border-top: 2px solid $mainColor;
                border-bottom: 2px solid $mainColor;
                border-collapse: collapse;
                

                tr {
                    width: 100%;

                
                    &.question{
                        cursor: pointer;

                        &:hover, &.on {
                            th, td {
                                color: #fff;
                                background: $subColor1;
                            }

                            .viewMore span {
                                background: #fff;
                            }
                        }

                        &.on .viewMore span {
                            &:nth-of-type(1) {
                                transform: rotate(-45deg) !important;
                                //-45
                            }

                            &:nth-of-type(2) {
                                transform: rotate(405deg) !important;
                                //405
                            }
                        }
                    }


                    th {
                        width: 20%;
                        min-width: 120px;
                        font: 600 12px/1 $font2;
                        letter-spacing: 1px;
                        color: $mainColor;
                        //background: #eee;
                        border-bottom: 1px solid #eee;
                        transition: .5s;
                        
                    }

                    td {
                        position: relative;
                        width: 80%;
                        max-width: 564px;
                        padding: 20px 50px 20px 20px;
                        font: 14px/1.3 $font2;
                        background: #fff;
                        color: #333;
                        border-bottom: 1px solid #eee;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: .5s;

                        .viewMore {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 15px;
                            display: inline-flex;
                            align-items: center;
                            width: 20px;
                            height: 20px;
                            font-size: 0;

                            span {
                                position: absolute;
                                display: inline-block;
                                width: 12px;
                                height: 1px;
                                background: #333;
                                transition: .5s;
                            }
                            span:nth-of-type(1) {
                                left: 0;
                                transform: rotate(45deg);
                            }

                            span:nth-of-type(2) {
                                right: 0;
                                transform: rotate(315deg);
                            }
                        }
                    }
                }

                .answer {
                    width: 100%;
                    animation: toggle 1s;

                    th {
                        background: #eee;
                        color: $mainColor;
                    }

                    td {
                        height: auto;
                        color: #555;
                        background: #eee;
                        white-space: normal;
                        overflow: auto;
                        text-overflow: unset;
                    }
                }
            }
        }

        // Board : Notice CSS 
        .noticeBoard {
            display: none;

            .boardForm {
                width: 100%;
                margin: 20px 0;
                border-top: 2px solid $mainColor;
                border-bottom: 2px solid $mainColor;
                border-collapse: collapse;

                thead {
                    tr {
                        width: 100%;
    
                        th {
                            width: 20%;
                            padding: 20px;
                            font: 600 12px/1 $font2;
                            letter-spacing: 1px;
                            color: $mainColor;
                            //background: #eee;
                            border-bottom: 1px solid #ccc;
                            transition: .5s;
                            
                        }
                    }
                }

                tbody {
                    tr {
                        width: 100%;
                        cursor: pointer;

                        &:hover td {
                            background: #eee;
                        }

                        td {
                            width: 80%;
                            max-width: 564px;
                            padding: 20px;
                            font: 600 12px/1.3 $font2;
                            background: #fff;
                            color: #555;
                            border-bottom: 1px solid #eee;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            transition: .5s;

                            &:first-child {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        // Contact us CSS
        .contactUs {
            display: none;
            width: 80%;
            padding: 0 50px;

            .title {
                position: relative;
                z-index: 1;
                //margin-bottom: 30px;
            }

            &.on {
                .title {
                    opacity: 1;
                    transform: translateY(0);
                }

                .contactForm {
                    opacity: 1;
                    transform: translateY(-40px);
                }

                .location {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .contactForm {
                //opacity: 1;
                //transform: translateY(-40px);
                opacity: 0;
                transform: translateY(60px);
                transition: 1s;
                width: 100%;
                padding: 75px 50px 30px;
                border: 1px solid $mainColor;

                fieldset { border: 0; }

                table {
                    width: 100%;
                    border-collapse: separate;
                    border-spacing: 0px 10px;

                    tr {
                        width: 100%;

                        &.errMsg {
                            th {
                                opacity: 0;
                            }

                            td {
                                font: 600 12px/1 $font2;
                                color: $pointColor;
                                padding-left: 1em;
                                
                            }
                        }

                        &.formBtns {
                            th {
                                width: 100%;
                                background: transparent;
                                padding-top: 20px;
                                font-size: 0;

                                input {
                                    display: inline-block;
                                    width: 150px;
                                    height: 45px;
                                    margin-right: 10px;
                                    font: 600 12px/1 $font1;
                                    letter-spacing: 1px;
                                    cursor: pointer;
                                }

                                input[type=reset] {
                                    border: 1px solid $mainColor;
                                    background: #fff;
                                    color: $mainColor;
                                }

                                input[type=submit] {
                                    border: 0;
                                    border: 0;
                                    background: $mainColor;
                                    color: #fff;
                                    transition: .5s;

                                    &:hover {
                                        color: $pointColor;
                                    }
                                }
                            }
                        }

                        th {
                            width: 20%;
                            min-width: 120px;
                            height: 100%;
                            background: $subColor1;
                            color: #fff;
                            font: 600 12px/1 $font1;
                        }

                        td {
                            width: 80%;
                            height: 100%;
                            font-size: 0;

                            input[type=text], input[type=number], input[type=email] {
                                width: 100%;
                                height: 45px;
                                border: 0;
                                background: #eee;
                                text-indent: 1em;
                                font: 14px/1 $font1;
                                color: #333;
                                outline: none;
                            }

                            textarea {
                                width: 100%;
                                height: 200px;
                                resize: none;
                                background: #eee;
                                border: 0;
                                padding: 1em;
                                font: 14px/1 $font1;
                                color: #333;
                                outline: none;
                            }

                        }
                        
                    }
                }
            }

            .location {
                opacity: 0;
                transform: translateY(140px);
                transition: 1s;
                position: relative;
                width: 100%;
                height: 444px;

                h1 {
                    font: 600 24px/1 $font1;

                    span {
                        display: inline-block;
                        padding: 10px;
                        color: #fff;
                        background: $mainColor;
                    }
                }

                #map {
                    width: 70%;
                    height: calc(100% - 44px);
                    filter: grayscale(.7);
                    transition: .5s;
                    float: left;

                    &:hover {
                        filter: grayscale(0);
                    }
                }

                .branchBtns {
                    position: absolute;
                    bottom: 0px;
                    right: calc(30% + 10px);
                    display: flex;
                    flex-direction: column;
                    width: 120px;

                    a {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 120px;
                        height: 50px;
                        margin-bottom: 10px;
                        font: 600 12px/1 $font1;
                        border: 1px solid $mainColor;
                        background: #fff;
                        color: $mainColor;
                        transition: .5s;

                        span {
                            display: block;
                            margin-top: 5px;
                            font: 600 10px/1 $font1;
                        }

                        &.on, &:hover {
                            background: $mainColor; 
                            color: #fff; 
                            span { color: $pointColor; }
                        }
                    }
                }

                .address {
                    width: 28%;
                    margin-left: 2%;
                    height: calc(100% - 44px);
                    float: left;
                    text-align: center;
                    border: 2px solid #eee;

                    .officeTitle {
                        width: 100%;
                        padding: 35px 20px;
                        background: #eee;

                        h2 {
                            font: bold 20px/1 $font1;
                            color: $mainColor;
                            margin-bottom: 10px;
                            letter-spacing: 1px;
                        }
    
                        h3 {
                            font: 600 14px/1 $font1;
                            color: $mainColor;
                        }

                    }

                    .addressDetail {
                        width: 100%;
                        height: calc(100% - 114px);
                        padding: 45px 30px;

                        h4 {
                            font: 600 14px/1.5 $font1;
                            color: #333;
                            margin-bottom: 20px;
                            
                            &::after {
                                content: "";
                                display: block;
                                width: 20px;
                                height: 2px;
                                background: $mainColor;
                                margin: 0 auto;
                                margin-top: 15px;
                            }
                        }
    
                        p {
                            font: 600 12px/1.5 $font1;
                            color: #555;
                            margin-bottom: 10px;
    
                            span {
                                color: $pointColor;
                                margin-right: 10px;
                            }
                        }
                    }
                    }


                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }
    }
}

}
}
