@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap');
$pointColor: salmon;
$mainColor: #3a3e46;
$subColor1: #767e8f;
$subColor2: #c3cee6;
$font1: Montserrat;
$font2: Open Sans;
$tablet: 1179px;
$mobile: 599px;

//common
@import "./common/mixin";
@import "./common/reset";
@import "./common/footer";

//main page
@import "./main/home";
@import "./main/header";

//sub page
@import "./sub/sub_layout";
@import "./sub/sub_header";
@import "./sub/about";
@import "./sub/membership";
@import "./sub/media";
@import "./sub/community";
@import "./sub/contact";


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;

    .dots {
        display: flex;
        justify-content: space-around;
        width: 110px;
    
        .dot {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 15px;
            animation: loading 2s infinite ease-in-out;
            background-color: $subColor1;

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    animation-delay: 0s + .5 * $i;
                }
            }
        }
    }
}


//animation
@keyframes loading {
    0% {
        opacity: .4;
        transform: scale(1, 1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2, 1.2);
    }

    100% {
        opacity: .4;
        transform: scale(1, 1);
    }
}

@keyframes moveRight {
    0% {
        transform: translate(-100%, 50%);
    }
    100% {
        transform: translate(0%, 50%);
    }
}

@keyframes moveLeft {
    0% {
        transform: translate(100%, 50%);
    }

    100% {
        transform: translate(0%, 50%);
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
    }
}