@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap');
$pointColor: salmon;
$mainColor: #3a3e46;
$subColor1: #767e8f;
$subColor2: #c3cee6;
$font1: Montserrat;
$font2: Open Sans;
$tablet: 1179px;
$mobile: 599px;

//common
@import "./common/mixin";
@import "./common/reset";
@import "./common/footer";

//main page
@import "./main/home";
@import "./main/header";

//sub page
@import "./sub/sub_layout";
@import "./sub/sub_header";
@import "./sub/about";
@import "./sub/membership";
@import "./sub/media";
@import "./sub/community";
@import "./sub/contact";


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;

    .dots {
        display: flex;
        justify-content: space-around;
        width: 110px;
    
        .dot {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 15px;
            animation: loading 2s infinite ease-in-out;
            background-color: $subColor1;

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    animation-delay: 0s + .5 * $i;
                }
            }
        }
    }
}

.popup {
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);

    >.inner {
        position: relative;
        width: 80%;
        max-width: 800px;
        aspect-ratio: 1.5 / 1;

        .video {
            width: 100%;
            height: 100%;

            iframe {
                width: 100%;
                height: 100%;
                border: 0;
                object-fit: cover;
            }
        }

        .pic {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            span {
                position: absolute;
                top: -30px; left: 0px;
                display: inline-block;
                padding: 0px 10px;
                height: 30px;
                font: 14px/30px $font1;
                background: $subColor1;
                color: #fff;
            }
        }

        .closeBtn {
            position: absolute;
            top: -31px; right: -31px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            background: $subColor1;
            
            &:hover { animation: spinning .5s; }

            span {
                position: absolute;
                top: 50%; left: 50%;
                width: 12px;
                height: 1px;
                background: #fff;
                
                &:nth-of-type(1) {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:nth-of-type(2) {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
.popup {
    >.inner {
        .pic {
            span {
                top: -25px;
                height: 25px;
                font: 12px/25px $font1;
            }
        }
        .closeBtn {
            top: -26px; right: -26px;
            width: 25px;
            height: 25px;
        }
    }
}
}


//animation
@keyframes upAndDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes boxShadow {
    0% { box-shadow: none; }
    100% { box-shadow: 20px 20px 0px $mainColor; }
}
@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(var(--num));
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes slider {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes arrow {
    0% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes fontColor {
    0% {
        color: #eee;
    }

    50% {
        color: rgba(250, 128, 114, 0.726);
    }

    100% {
        color: #eee;
    }
}
@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        opacity: .4;
        transform: scale(1, 1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2, 1.2);
    }

    100% {
        opacity: .4;
        transform: scale(1, 1);
    }
}

@keyframes moveRight {
    0% {
        transform: translate(-100%, 50%);
    }
    100% {
        transform: translate(0%, 50%);
    }
}

@keyframes moveLeft {
    0% {
        transform: translate(100%, 50%);
    }

    100% {
        transform: translate(0%, 50%);
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}